.project {
  display: flex;
  margin-top: 2em;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  flex-direction: row;
  &--image {
    margin-right: 1em;
    margin-bottom: 1em;
  }
  &--content {
    & p,
    & ul {
      margin: 1em 0;
    }
    & li {
      margin: 0.5em 0;
    }
  }
}
