@import "./base.scss";
@import "./layout.scss";
@import "./brands.scss";

.goToTop {
  display: block;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: rgba(0, 140, 255, 0.473);
  color: white;
  padding: 0.5em;
  font-size: 2em;
}
