.container {
  max-width: 64em;
  margin: 0 auto;
  padding: 1em;
}

.bio {
  text-align: center;
  padding-bottom: 3em;
}

.title {
  font-size: 3em;
  text-align: center;
}

.subtitle {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.text {
  font-size: 1.2em;
}

.section {
  padding: 3em 0;
  border-top: 2px solid rgb(148, 148, 148);
}
