.container {
  max-width: 64em;
  margin: 0 auto;
  padding: 1em;
}

.bio {
  text-align: center;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: 2em;
  margin-bottom: 0.5em;
}
.text {
  font-size: 1.2em;
}
