.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 600px) {
    margin-bottom: 3em;
  }
  margin-bottom: 0;

  &--social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & li {
      margin-right: 1em;
    }
    & a {
      color: #000;
    }
  }
}
